.green {
  font-size: 70px;
}

.green:hover {
  color: #98c379;
}

.blue {
  font-size: 70px;
}

.blue:hover {
  color: #56b6c2;
}

.yellow {
  font-size: 70px;
}

.yellow:hover {
  color: #c6ad00;
}

.purple {
  font-size: 70px;
}

.purple:hover {
  color: #b400b9;
}

.red {
  font-size: 70px;
}

.red:hover {
  color: #c62d48;
}

.textBox {
  display: inline-block;
  font-family: Merriweather, sans-serif;
  font-size: 16px;
  margin: 0;
  width: 634px;
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d4dada;
  border-radius: 3px;
  box-shadow: none;
  vertical-align: bottom;
  overflow: visible;
  box-sizing: border-box;
  -webkit-rtl-ordering: logical;
  cursor: text;
}

.textBox:focus {
  border: 1px solid #07682c;
  outline: 0;
  outline-offset: -2px;
}

.search-Button {
  color: #7795f8;
  display: inline-block;
  width: 133.906px;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  outline-color: none;
  transition: all 0.15s ease;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  outline-style: none;
  border-width: 0;
}

.search-Button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.search-Button:active {
  background-color: #f6f9fc;
  transform: translateY(1px);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
